main {
    scroll-snap-type: y mandatory;
}

section {
    min-height: 90vh;
    border-bottom: 1px solid black;
    padding-top: 5rem;
    padding-bottom: 5rem;
    scroll-snap-align: start;
}

h3 {
    margin-right: 5rem;
}

h4 {
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-color: var(--clr-black);
    color: var(--clr-secondary);
    padding-right: 1rem;
}

#schedule ul {
    list-style: disc;
}

#schedule li {
    margin-right: 1rem;
    display: list-item;
    margin-bottom: 2rem;
    list-style: disc outside none;
}

b {
    font-weight: 800;
}